/* Custom Styles */
body {
  @apply bg-grey-lightest font-sans text-black;
}

main {
  min-height: calc(100vh - 14rem);
}

a {
  color: inherit;
  text-decoration: none;

  @apply text-grey-darker;
}

a:hover {
  @apply text-black;
}

/* timeline */
.timeline::before {
  top: 4px;
  left: 2rem;
  width: 2px;
  margin-left: -23px;
  content: '';

  @apply bg-grey-light absolute h-full;
}

/* Incidents */
.incident-content > p {
  @apply my-4 text-lg;
}

.incident-content .update-block {
  @apply flex flex-col-reverse border-b mb-0 py-2;
}

.incident-content .update-block:last-child {
  @apply border-b-0;
}

.incident-content .update-block-date {
  @apply text-grey-dark my-2;
}

.incident-content .update-block-content {
  @apply flex-initial my-2;
}

.incident-content .update-block-title {
  @apply font-semibold mb-2 text-lg;
}
