/* Custom Styles */
body {
  @apply bg-grey-lightest font-sans text-black;
}

main {
  min-height: calc(100vh - 14rem);
}

a {
  color: inherit;
  text-decoration: none;

  @apply text-grey-darker;

  &:hover {
    @apply text-black;
  }
}

/* timeline */
.timeline {
  @apply list-reset m-0 p-0
}

.timeline-incident {
  @apply border-l-2 border-grey-light ml-2 .relative pt-0 pb-6 pl-6
}

.timeline-incident {
  &:last-child {
    @apply border-transparent
  }

  &::before {
    content: ' ';
    left: -13px;
    top: 0;

    @apply w-6 h-6 bg-white border-2 border-grey-light absolute rounded-full z-10
  }
}

.under-maintenance.timeline-incident::before {
  @apply border-grey-darker
}

.degraded-performance.timeline-incident::before {
  @apply border-indigo
}

.partial-outage.timeline-incident::before {
  @apply border-orange
}

.major-outage.timeline-incident::before {
  @apply border-red
}

.operational.timeline-incident::before {
  @apply border-grey-light
}

.timeline-incident-title {
  @apply text-xl font-medium mb-4
}

.timeline-incident-body {
  @apply pb-2
}

/* Incidents */
.incident-content {
  > p {
    @apply my-4 text-lg;
  }

  a {
    @apply text-indigo;

    &.external {
      svg {
        @apply text-grey-dark;
      }
    }
  }

  .update-block {
    @apply flex flex-col-reverse border-b mb-0 py-2;

    &:last-child {
      @apply border-b-0;
    }
  }

  .update-block-date {
    @apply text-grey-dark my-2;
  }

  .update-block-content {
    @apply flex-initial my-2;
  }

  .update-block-title {
    @apply font-semibold mb-2 text-lg;
  }
}
