/* Custom Styles */
@import '@statusfy/shared-utils/lib/style/base';

main {
  min-height: calc(100vh - 14rem);
}

.btn {
  background-color: config('globalGuidelines.btn-bg');

  @apply inline-block rounded-full font-medium border py-2 px-4 shadow
}

/* timeline */
.timeline-incident {
  &:last-child {
    @apply border-transparent
  }

  &::before {
    content: ' ';
    left: -13px;
    top: 0;

    @apply w-6 h-6 bg-white border-2 border-grey-light absolute rounded-full z-10
  }

  &::before {
    .under-maintenance& {
      border-color: var(--grey-darker);
    }

    .degraded-performance& {
      border-color: var(--indigo);
    }

    .partial-outage& {
      border-color: var(--orange);
    }

    .major-outage& {
      border-color: var(--red);
    }

    .operational& {
      border-color: var(--grey-light);
    }
  }
}

.timeline-incident-title {
  @apply text-xl font-medium mb-4
}

.timeline-incident-body {
  @apply pb-2
}

/* Incidents */
.incident {
  background-color: config('globalGuidelines.incident-bg');
  border-color: config('globalGuidelines.incident-border-color');
}

.incident-body {
  > p,
  > div {
    @apply my-4;
  }

  .markdown {
    @apply mb-0
  }

  a {
    @apply text-blue;

    &.external {
      svg {
        @apply text-grey-dark;
      }
    }
  }

  .update-block {
    @apply flex flex-col-reverse border-b mb-0 py-2;

    &:first-child {
      @apply pt-0;

      .update-block-content {
        @apply mt-0
      }
    }

    &:last-child {
      @apply border-b-0 mb-0 pb-0;

      .update-block-date {
        @apply mb-0
      }
    }
  }

  .update-block-date {
    @apply text-grey-dark my-2;
  }

  .update-block-content {
    @apply flex-initial my-2;
  }

  .update-block-title {
    @apply font-semibold mb-2 text-lg;
  }
}
