/* Custom Styles */
:root {
  /* Colors */
  --transparent: config('colors.transparent');
  --black: config('colors.black');
  --grey-darkest: config('colors.grey-darkest');
  --grey-darker: config('colors.grey-darker');
  --grey-dark: config('colors.grey-dark');
  --grey: config('colors.grey');
  --grey-light: config('colors.grey-light');
  --grey-lighter: config('colors.grey-lighter');
  --grey-lightest: config('colors.grey-lightest');
  --white: config('colors.white');

  --blue: config('colors.blue');
  --purple: config('colors.purple');
  --green: config('colors.green');
  --orange: config('colors.orange');
  --red: config('colors.red');
  --yellow: config('colors.yellow');

  /* Fonts */
  --font-family-sans-serif: config('fonts.sans');
  --font-family-monospace: config('fonts.mono');
}

body {
  background-color: var(--grey-lightest);
  color: var(--black);
  font-family: var(--font-family-sans-serif);

  @apply text-base;
}

a {
  color: inherit;
  text-decoration: none;
  color: var(--blue);

  &:hover {
    color: var(--black);
  }
}
